<!-- <div id="gia_tri">
  <input type="text" id="username" name="username" #txtSource>
  <button (click)="fnCreateArray(txtSource.value)">Tạo mảng</button>
</div> -->

<!-- <div id="san_khau">

  <div *ngFor="let a of arrNumber; let i = index"
  [id]="'e' + i"
  [class]="a.classname"
  [style.transform]="'translate(' + a._x + 'px,' + a._y + 'px)'"
  [style.transition-duration]="speed + 'ms'">{{a.label}}</div>

</div>

<div id="dieu_khien">

  <button (click)="fnBubbleSort()">BubbleSort</button>

</div>

<p>15,3,99,35,26,7,5,17,9</p> -->

<div id="san_khau">

  <div *ngFor="let a of arrNumber; let i = index" [id]="'e' + i" [class]="a.classname"
    [style.transform]="'translate(' + a._x + 'px,' + a._y + 'px)'" [style.transition-duration]="speed + 'ms'">
    {{a.label}}</div>

</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="12">
    <input nz-input placeholder="Input array to run. Ex: 1,2,3" value="15,3,99,35,26,7,5,17,9" #txtSource />
  </div>
  <div nz-col nzSpan="6">
    <button nz-button nzType="primary" (click)="fnCreateArray(txtSource.value)" style="margin-right: 10px;">
      <i nz-icon nzType="calculator" nzTheme="outline"></i>
      Create Array</button>
      <button nz-button nzType="primary" (click)="fnBubbleSort()">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        Run</button>
  </div>
  <div nz-col nzSpan="6">
    <nz-slider [(ngModel)]="speed" nzMax="2000"></nz-slider>
  </div>
</div>